node_modules
.next
.git
.gitignore
Dockerfile*
docker-compose*.yml
docker-compose*.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
coverage
playwright-report
test-results
*.local
*.env
app/(generated)
/.vercel
.opencode
.idea
